/* Reset UL and LI */

.selectors-status {
    padding: 0;
    margin: 0;
}

.selectors-status li {
    list-style: none;
}

/* Actyal styles */

.selectors-status {
    font-size: .9rem;
    padding-block: 1lh;
    color: gray;
}