/* Reset UL and LI */

.scrape-warnings {
    padding: 0;
    margin: 0;
}

.scrape-warnings li {
    list-style: none;
}

/* Actual styles */

.scrape-warnings {
    font-size: .9rem;
    padding-block: 1lh;
    color: gray;
}